{% load crispy_forms_tags %}
{%load static%}

<h1>Написати повідомлення</h1>
<form method="post" action="{% url 'contact' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">П.І.Б.</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Контактний номер телефону</label>
        <input type="text" class="form-control" id="phone" name="phone" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email </label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="subject" class="form-label">Тема звернення</label>
        <input type="text" class="form-control" id="subject" name="subject" required>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Повідомлення</label>
        <textarea class="form-control" id="message" rows="6" name="message" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Відправити</button>

</form>